<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.dafa.hyperpay.hyper_pay">


    <!--    package path is :    com.dafa.hyperpay.hyper_pay_example -->

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>

        <!--    ........................ < start :  hyper pay native android sdk serucre -->

        <receiver android:name=".core.receiver.CheckoutBroadcastReceiver"
            android:exported="false"/>


        <activity
            android:name=".core.HyperPayIntegrationActivity"
            android:theme="@style/MakeMyActivityTransparent"
            android:exported="false">
        </activity>

        <activity
            android:name=".HyperPayMainActivity"
            android:theme="@style/MakeMyActivityTransparent"
            android:exported="false">
        </activity>


        <!--    ........................  end>  -->


    </application>


</manifest>
